$color-main-title-first: rgba(255, 255, 255);
$color-main-title-first-opacity: rgba(255, 255, 255, 0.39);
$color-title-main: #5ce1e6;
$color-title-second: #ffdf2b;

$color-background: #001b27;

$color-text: rgb(255, 255, 255);

// origin colors:
// $color-main-title-first: rgba(255, 255, 255);
// $color-main-title-second: #0fa;
